<div class="container">
  <h2>Register</h2>
  <div [hidden]='!show_error' class="alert alert-danger">{{error_msg}}</div>
  <form #userRegister="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group form-group-bordered">
        <label for="firstName">First Name</label>
        <input type="text"
                class="form-control"
                id="firstName"
                placeholder="Enter fist name"
                [(ngModel)] = "model.firstName"
                name="firstName"
                #firstName="ngModel"
                required>
        <div [hidden]="firstName.valid || firstName.pristine"
              class="alert alert-danger">
          First name is required
        </div>
      </div>
      <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="email"
                  class="form-control"
                  id="lastName"
                  placeholder="Enter last name"
                  [(ngModel)] = "model.lastName"
                  name="lastName"
                  required
                  #lastName="ngModel">
        <div [hidden]="lastName.valid || lastName.pristine"
                class="alert alert-danger">
          Last name is required
        </div>
      </div>
      <div class="form-group">
          <label for="username">Username</label>
          <input type="text"
                  class="form-control"
                  id="username"
                  placeholder="Enter username"
                  [(ngModel)] = "model.username"
                  name="username"
                  required
                  #username="ngModel">
          <div [hidden]="username.valid || username.pristine"
                class="alert alert-danger">
            Username is required
          </div>
      </div>
      <div class="form-group">
          <label for="email">Email</label>
          <div class="row">
            <div class="col">
              <input type="email"
                      class="form-control"
                      id="email"
                      placeholder="Enter email"
                      [(ngModel)] = "model.email"
                      name="email"
                      required
                      #email="ngModel">
              <div [hidden]="email.valid || email.pristine"
                    class="alert alert-danger">
                Email is required
              </div>
            </div>
            <div class="col">
                <input type="email"
                        class="form-control"
                        id="conf_email"
                        placeholder="Confirm email"
                        [(ngModel)] = "model.conf_email"
                        name="conf_email"
                        required
                        #conf_email="ngModel">
                <div [hidden]="conf_email.valid || conf_email.pristine"
                      class="alert alert-danger">
                    Confirmation is required
                </div>
                <div *ngIf="model.email != model.conf_email && conf_email.dirty"
                      class="alert alert-danger">
                    Emails must be the same!
                  </div>
              </div>
          </div>
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <div class="row">
              <div class="col">
                <input type="text"
                        class="form-control"
                        id="password"
                        placeholder="Enter password"
                        [(ngModel)] = "model.password"
                        name="password"
                        required
                        #password="ngModel">
                <div [hidden]="password.valid || password.pristine"
                      class="alert alert-danger">
                      Password is required
                  </div>
              </div>
              <div class="col">
                  <input type="text"
                          class="form-control"
                          id="conf_password"
                          placeholder="Confirm password"
                          [(ngModel)] = "model.conf_password"
                          name="conf_password"
                          required
                          #conf_password="ngModel">
                  <div [hidden]="conf_password.valid || conf_password.pristine"
                        class="alert alert-danger">
                      Confirmation is required
                  </div>
                  <div *ngIf="model.password != model.conf_password && conf_password.dirty"
                      class="alert alert-danger">
                    Passwords must be the same!
                  </div>
                </div>
            </div>
      </div>
      <button [disabled]="!userRegister.form.valid" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>