<div class="container">
  <div class="row">
    <div class="col">
      <h2>Users</h2>   
    </div>
    <div class="col">
        <button (click)="register()" class="btn btn-primary pull-right">Register</button>
    </div>
  </div>       
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>UAL</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let item of usersArray'>
        <td  (click)='editUser(item.id, modal)'>{{item.id}}</td>
        <td (click)='editUser(item.id, modal)'>{{item.username}}</td>
        <td (click)='editUser(item.id, modal)'>{{item.firstName}}</td>
        <td (click)='editUser(item.id, modal)'>{{item.lastName}}</td>
        <td (click)='editUser(item.id, modal)'>{{item.email}}</td>
        <td (click)='editUser(item.id, modal)'>{{item.userAccessLevel}}</td>
        <td><span class="fa fa-times" (click)='deleteUserModal(item.id, modalDelete)'></span></td>
      </tr>
    </tbody>
      
  </table>
</div>

<ng-template #modal>
  <div class="modal-header">
    <h4>Edit user</h4>
  </div>
  <div class="modal-body">
      <div [hidden]='!show_error' class="alert alert-danger">{{error_msg}}</div>
      <form #userEdit="ngForm" (ngSubmit)="submitUser()" id="userEditForm">
          <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text"
                      class="form-control"
                      id="firstName"
                      placeholder="Enter fist name"
                      [(ngModel)] = "clickedUser.firstName"
                      name="firstName"
                      #firstName="ngModel"
                      required>
              <div [hidden]="firstName.valid || firstName.pristine"
                    class="alert alert-danger">
                First name is required
              </div>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="email"
                        class="form-control"
                        id="lastName"
                        placeholder="Enter last name"
                        [(ngModel)] = "clickedUser.lastName"
                        name="lastName"
                        required
                        #lastName="ngModel">
              <div [hidden]="lastName.valid || lastName.pristine"
                      class="alert alert-danger">
                Last name is required
              </div>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text"
                        class="form-control"
                        id="username"
                        placeholder="Enter username"
                        [(ngModel)] = "clickedUser.username"
                        name="username"
                        required
                        #username="ngModel">
                <div [hidden]="username.valid || username.pristine"
                      class="alert alert-danger">
                  Username is required
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <div class="row">
                  <div class="col">
                    <input type="email"
                            class="form-control"
                            id="email"
                            placeholder="Enter email"
                            [(ngModel)] = "clickedUser.email"
                            name="email"
                            required
                            #email="ngModel">
                    <div [hidden]="email.valid || email.pristine"
                          class="alert alert-danger">
                      Email is required
                    </div>
                  </div>
                  <div class="col">
                      <input type="email"
                              class="form-control"
                              id="conf_email"
                              placeholder="Confirm email"
                              [(ngModel)] = "clickedUser.conf_email"
                              name="conf_email"
                              required
                              #conf_email="ngModel">
                      <div [hidden]="conf_email.valid || conf_email.pristine"
                            class="alert alert-danger">
                          Confirmation is required
                      </div>
                      <div *ngIf="clickedUser.email != clickedUser.conf_email && conf_email.dirty"
                            class="alert alert-danger">
                          Emails must be the same!
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="ual">UAL</label>
                <select class="form-control"
                        id="ual"
                        required
                        [(ngModel)]="clickedUser.userAccessLevel"
                        name="ual"
                        #ual="ngModel">
                  <option *ngFor="let ual of userTypes"
                          [value]="ual">
                    {{ual}}
                  </option>
                </select>
              </div>
              <button [disabled]="!userEdit.form.valid" type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
  <div class="modal-footer">
      <!-- <button [disabled]="!userRegister.form.valid" type="submit" class="btn btn-primary" form="userEditForm">Submit</button> -->
  </div>
</ng-template>

<ng-template #modalDelete>
    <div class="modal-header">
        <h4>Delete user</h4>
      </div>
      <div class="modal-body"> Do you want to delete user?</div>
      <div class="modal-footer">
        <div class="row">
          <div class="col">
            <button type="button" (click)="delete()" class="btn btn-success">Yes</button>
          </div>
          <div class="col">
              <button type="button" (click)="closeModal()" class="btn btn-danger">No</button>
            </div>
        </div>
      </div>
</ng-template>